services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: src-sqlserver
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "S8P2prTO3d6ySTPiQnCt"
      MSSQL_PID: "Express"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P "S8P2prTO3d6ySTPiQnCt" -Q "SELECT 1" -C || exit 1
      interval: 15s
      timeout: 10s
      retries: 20
      start_period: 60s

  minio:
    image: minio/minio:latest
    container_name: src-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

volumes:
  sqlserver_data:
  minio_data:

